{% extends 'base.html.twig' %}

{% block title %}Hello {{ title }}!{% endblock %}

{% block body %}

<h1>{{ title }}</h1>

<p>fe sg sdg dfg dfg dfg ddf gfd gdf fdg dfg ddg </p>
<p>fe sg sdg dfg dfg dfg ddf gfd gdf fdg dfg ddg </p>

{% endblock %}